/* grid */

#galleri-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  row-gap: 2em;
  justify-content: center;
  justify-items: center;
}

.småbilder {
  max-width: 80%;
  margin: 20px 40px 20px;
  z-index: 1;
}

#VEKAB {
  height: 67%;
}

@media (max-width: 770px) {
  .sidrubrik-left {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 35px;
  }

  #galleri-grid {
    display: block;
  }

  .småbilder {
    margin-bottom: 3em;
  }
}
