#black-area {
    background-color: black;
    width: 100%;
    height: 24em;
    z-index: 1;
    margin-bottom: -20%;
  }

  .top-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }
  
  .intro-text {
    width: 80%;
    margin-top: 10%;
    margin-right: 4em;
    justify-content: center;
  }
  
  .sidrubrik {
    font-family: "Cormorant SC", serif;
    font-size: 3rem;
    color: #009fe3;
    margin-bottom: 10%;
    font-size: 7rem;
    margin-left: -1em;
  }
  
  #namn {
    font-style:italic;
  }
  
  #intro-rubrik {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
  }
  
  .top-image {
    width: 70%;
    margin-top: 2em;
  }


  @media (max-width: 770px){
    .top-grid {
        display: block;
        justify-content: center;
    }

    .top-image {
        width: 100%;
        margin-top: 0;
    }

    #black-area {
        display: none;
    }

    .intro-text {
        margin-left: 12%;
        margin-bottom: 1em;
        font-size: 1.1rem;
      }

      .sidrubrik {
        font-size: 7rem;
        margin-bottom: 0;
        margin-right: -0.5em;
      }
  }