* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
  overflow-x: hidden;
  
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.top {
  background-color: black;
  height: 14px;
}

header {
  position: sticky;
  top: 0px;
}

.sub-sections {
  list-style: none;
  display: none;
  position: absolute;
  margin-top: 1.35em;
}

.sub-sections.show {
  display: block;
}

.sub-sections li {
  background-color: white;
  line-height: 40px;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-left: 2em;
  padding-right: 4em;
  font-size: 1rem;
  margin-left: -1.5em;
}

.sub-sections li:hover {
  color: #009fe3;
  background-color: rgb(248, 248, 248);
}

.verksamhet-btn-header {
  width: fit-content;
}

body {
  position: sticky;
  top: 0px;
}

#header {
  background-color: white;
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid rgb(195, 195, 195);
  z-index: 2;
  font-family: "Cormorant SC", serif;
}

#logo {
  margin-left: 20px;
  font-size: 2.5rem;
  color: #009fe3;
  background-color: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
}

.sections {
  display: flex;
  justify-content: space-between;
  align-items: right;
  width: 35em;
  margin-left: auto;
  margin-right: 40px;
  font-size: 1.2rem;
}

.sections a {
  text-decoration: none;
}


.sections :hover {
  color: #009fe3;
}

/* Hidden menu */

nav ul {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  list-style: none;
}

nav ul .verk-show.show {
  display: block;
}

nav ul li {
  line-height: 40px;
  border-bottom: 1px solid rgb(195, 195, 195);
}

nav ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 100%;
}

nav ul li a:hover {
  color: #2694cf;
  background-color: rgb(248, 248, 248);
}

nav ul ul {
  position: static;
  display: none;
}

nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 16px;
  padding-left: 80px;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.hamburger-menu {
  display: none;
}

/* General */

.active {
  color: #009fe3;
}

#intro {
  margin-top: 40em;
}

.namn {
  font-style: italic;
}

.sidrubrik {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sidrubrik-left {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  display: flex;
  justify-content: left;
  margin-left: 40px;
}

.centered-text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}


.text-left-vit {
  margin: 200px 40px 20px;
  color: white;
  font-size: 12px;
}

footer {
  background-color: #009fe3;
  padding-bottom: 2em;
}

.footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

#footer-logo {
  font-size: 2rem;
  font-family: "Cormorant SC", serif;
  text-align: center;
  color: #009fe3;
  background-color: #000000;
  margin-top: 0.5em;
}

.footer-info {
  margin-top: 50px;
}

.logo-section {
  display: flex;
  font-size: 10rem;
  justify-content: center;
  color: #009fe3;
  background-color: #1d1d1b;
  padding-bottom: 0.2em;
}

.images {
  margin-top: 50px;
  width: 100%;
}

.top-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}

#black-area-textil {
  display: flex;
  margin: -180px 0px 0px;
  justify-content: center;
  height: 500px;
  background-color: #1d1d1b;
}


.white-text {
  position: absolute;
  font-size: 12px;
  margin: 20px;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-weight: light;
}

.underrubrik-vit {
  margin-top: 20px;
  position: absolute;
  width: 400px;
  font-size: 9px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.småbilder {
  max-width: 80%;
  margin: 20px 40px 20px;
}

.gallery-item {
  margin-bottom: 40px;
}

.gallery-item p {
  margin-top: -30px;
  margin-left: 40px;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-right: 35px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sections {
    display: none;
  }

  .hamburger-menu {
    position: absolute;
    width: 100%;
    left: 0;
  }

  .hamburger-menu.active {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
  }

  .hamburger-menu.hidden {
    display: none;
  }
}

