#black-area {
    background-color: black;
    width: 100%;
    height: 24em;
    z-index: 1;
    margin-bottom: -20%;
  }


  #text-container h3 {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
  }
  
  .intro-text {
    width: 80%;
    margin-top: 10%;
    justify-content: center;
  }
  
  .sidrubrik {
    font-family: "Cormorant SC", serif;
    color: #ffffff;
    margin-top: 5%;
    margin-left: 1em;
    font-size: 5rem;
    position: absolute;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  #text-container {
    margin-top: 47%;
    margin-left: 5em;
  }
  
  #intro-rubrik {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
  }

  #bildtext {
    font-size: 0.9em;
    width: 80%;
    font-style: italic;
    margin-top: 10px;
    margin-left: 2em;
  }
  
  .top-image {
    width: 70%;
    margin-top: 2em;
    padding: 0;
    margin-top: 3em;
    margin-left: 2em;
  }

  #image-container {
    margin-top: 4.6em;
  }



 

footer {
    margin-top: 10em;
}
  
  @media (max-width: 1470px) {

  }
  
  @media (max-width: 1070px) {
    .sidrubrik {
      margin-bottom: 30%;
      margin-left: 1.7em;
      font-size: 3rem;
    }

    .top-image {
        margin-top: 8em;
    }

    #black-area {
        height: 200px;
    }

    #text-container h3 {
        display: none;
    }
  
  }
  
  @media (max-width: 770px) {
    .top-grid {
      display: block;
    }
  
    .top-image {
      width: 80%;
    }

    #black-area-bottom {
        background-color: black;
        height: 400px;
        margin-top: -180px;
    }
    

    #image-container {
       margin-left: 8%;
    }
  
    #black-area {
      display: none;
    }
  
    .intro-text {
      margin-bottom: 1em;
      font-size: 1.1rem;
      margin-top: -6em;
      margin-left: -1.8em;
      width: 95%;
      margin-bottom: 0;
      padding: 0;
    }

    #bildtext {
        color: white;
        margin-left: 2.2em;
    }

    footer {
        margin-top: -50px;
    }
  
    .sidrubrik {
        display: none;
    }

    #text-container {
        margin-top: -4em;
        margin-left: 7.2em;
    }

    #text-container h3 {
        display: block;
        font-family: "Cormorant SC", serfif;
        font-weight: bold;
    }

    #image-container {
        margin-top: -4em;
    }
  
    #text-container {
      margin-top: 25%;
    }
  }
  
  @media (max-width: 500px) {

        #image-container {
            margin-left: 5%;
            margin-top: -4em;
         }

         #text-container {
            margin-left: 5em;
        }
  }
  
  @media (max-width: 400px) {

        #image-container {
            margin-left: 2%;
         }

         #text-container {
            margin-top: 8em;
         }
  }
  